@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: white;
    font-family: "Helvetica Neue", Sans-serif, Monospace;
}

.my-toast {
    position: fixed;
    right: 1em;
    top: .5em;
    z-index: 1000;
    .toast {
        min-width: 320px;
    }

    button.close {
        color: white;
    }
}
